<ion-header>
  <ion-toolbar>
    <ion-title>เพิ่มรายการหักคะแนน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list >
        <ion-item *ngFor="let item of allDataRemark">        
          <ion-label>{{item.datarem.remname}}</ion-label>
          <ion-button color="warning" size="default" shape="round">แก้ไข
              <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button color="danger" size="default" shape="round">ลบ
              <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
    </ion-list>
</ion-content>
